@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import "../variables";

.nav{
    height: $nav-height;
    background:rgba(113, 103, 124, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hamburger{
        background: $primary-color;
        height: 100%;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 0 0 15px 0;
        transition: transform 0.5s;
        color:$light-color;
        .hamburgerIcon{
            font-size: 35px;
        }
        &:hover{
            transform: scale(1.1);
        }
    }
    .namePlate{
        padding-right: 1.5rem;
        font-size: 1.7rem;
        font-family: 'Dancing Script', cursive;
        //cursive font
    }
}